name: Docker Image CI

on:
  # 手动触发
  workflow_dispatch:
  
  push:
    branches: [ "main" ]
    paths:
      - 'Dockerfile'
      - 'apps/**'
      - 'package*.json'
      - '.github/workflows/docker.yml'
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag openprism:$(date +%s)
